<!doctype html>
<html>
<title> Create Account</title>
<head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='createcustomerstyle.css') }}">
</head>
<body>
    <div class="navbar">
        <a href="#home">Home</a>
        <div class="dropdown">
            <button class="dropbtn">Customer Management 
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="/create-customer">Create Customer</a>
              <a href="/delete-search-customer">Delete Customer</a>
              <a href="/update-search-customer">Update Customer</a>
            </div>
        </div> 
        
        <div class="dropdown">
          <button class="dropbtn">Account Management 
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
              <a href="/create-account">Create Account</a>
              <a href="/search-account">Delete Account</a>
            
          </div>
        </div> 

        <div class="dropdown">
            <button class="dropbtn">Status Details
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="/customer-status">View Customers Status List</a>
              <a href="/account-status">View Accounts Status List</a>
            </div>
          </div>

        <a href="/logout">Logout</a>
        
      </div> 

<div id="main-part">
    
    {% if msg == 'no cust exist' %}
    <h3 style="text-align: center; padding-top: 20px; color: rgba(255, 0, 0, 0.589)">Customer ID Does Not Exist</h3>
    {% endif %}

    {% if msg == 'exists' %}
    <h3 style="text-align: center; padding-top: 20px; color: rgba(255, 0, 0, 0.589)">Customer Account Already Exist</h3>
    {% endif %}

    {% if msg == 'success' %}
    <h3 style="text-align: center; padding-top: 20px; color: rgba(255, 0, 0, 0.589)">Account Created Success</h3>
    {% endif %}
<h1 style="text-align: center; padding-top: 20px">Create Account</h1>
<div id="frm">
    <div id="frm_in">
  <form action="/create-account" onsubmit="return validate()" method="POST" name="CreateAccountForm">
    <label for="ws_cust_id">Customer id:<span style="color: rgba(255, 0, 0, 0.589)">*</span></label>
    <input type="number" id="ws_cust_id" name="ws_cust_id">

    <label for="ws_acct_type">Account Type:<span style="color: rgba(255, 0, 0, 0.589)">*</span></label>
    <select id="ws_acct_type" name="ws_acct_type">
      <option value="saving_account">Saving Account</option>
      <option value="current_account">Current Account</option>
    </select>
    
    <label for="ws_amt">Deposit Amount:<span style="color: rgba(255, 0, 0, 0.589)">*</span></label>
    <input type="number" id="ws_amt" name="ws_amt">


  <div>
    <input type="submit" value="Submit"><span>
    <input style="float: right" type="reset" value="Reset">
</div>
</form>
</div>
</div>
</div>
<!-- Bootstrap jQuery, Popper.js, and our own JavaScript plugins-->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script>
		function validate()
		{
			var ws_cust_id = document.forms["CreateAccountForm"]["ws_cust_id"];
			var ws_acct_type = document.forms["CreateAccountForm"]["ws_acct_type"];
            var ws_amt = document.forms["CreateAccountForm"]["ws_amt"];
			if (ws_cust_id.value == "")
			{
				window.alert("Please enter Customer's SSN Id");
				ws_cust_id.focus();
				return false;
			}
            if(ws_cust_id.value.length < 9) 
				{
					window.alert("The Customer's ID should have a minimum of 9 digits"); 
					ws_cust_id.focus();
					return false;
				}
            if (ws_amt.value == "")
			{
				window.alert("Please enter Ammount");
				ws_amt.focus();
				return false;
			} 
            if (ws_amt.value <= 0)
			{
				window.alert("Please enter Amount greater than or equal to 0");
				ws_amt.focus();
				return false;
			}
			return true;
		}</script>

</body>


</html>
