<!doctype html>
<html>
<title>Deposit Money</title>
<head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='createcustomerstyle.css') }}">
</head>
<body>
  <div class="navbar">
                  <a href="/details-search-account">Home</a>
                  <div class="dropdown">
                      <button class="dropbtn">Account Operations
                      <i class="fa fa-caret-down"></i>
                      </button>
                      <div class="dropdown-content">
                          <a href="/details-search-account">Get Account Details</a>
                          <a href="/withdraw-search-account">Withdraw Amount</a>
                          <a href="/deposit-search-account">Deposit Amount</a>
                          <a href="/transfer-search-account">Transfer Amount</a>
                      </div>
                  </div>
                  <a href="/statement-search-account">Statement</a>
                  <a href="/logout">Logout</a>

              </div>


<div id="main-part">
        {% if msg == 'success' %}
        <h3 style="text-align: center; padding-top: 20px; color: rgba(255, 0, 0, 0.589)">Amount Deposit Success</h3>
        {% endif %}
<h1 style="text-align: center; padding-top: 20px">Deposit Amount</h1>
<div id="frm">
    <div id="frm_in">
  <form action="/deposit-account" onsubmit="return validate()" method="POST" name="CreateCustomerForm">
    <label for="ws_acct_id">Account id:</label>
    <input type="number" id="ws_acct_id_check" name="ws_acct_id_check" disabled value= {% if ws_acct_id != '' %}
                                                                                    {{ws_acct_id}}
                                                                                    {% endif %}>

    <input type="hidden" id="ws_acct_id" name="ws_acct_id" value= {% if ws_acct_id != '' %}
                                                                                    {{ws_acct_id}}
                                                                                    {% endif %}>
    <label for="ws_cust_id">Customer id:</label>
    <input type="text" id="ws_cust_id" name="ws_cust_id" disabled value= {% if ws_cust_id != '' %}
                                                                        {{ws_cust_id}}
                                                                        {% endif %}>

    <label for="ws_acct_type">Account Type:</label>
    <input type="number" name="ws_acct_type" id="ws_acct_type" disabled value= {% if ws_acct_type != '' %}
                                                                            {{ws_acct_type}}
                                                                            {% endif %}>

    <label for="ws_acct_balance">Balance:</span></label>
    <input type="number" name="ws_acct_balance" id="ws_acct_balance" disabled value= {% if ws_acct_balance != '' %}
                                                                                {{ws_acct_balance}}
                                                                                {% endif %}>
    <label for="ws_amt">Deposit Amount:</label>
    <input type="number" name="ws_amt" id="ws_amt">

  <div>
    <input type="submit" value="Submit"><span>
    <input style="float: right" type="reset" value="Reset">
</div>
</form>
</div>
</div>
</div>
<!-- Bootstrap jQuery, Popper.js, and our own JavaScript plugins-->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script>
		function validate()
		{
			var ws_acct_id = document.forms["CreateCustomerForm"]["ws_acct_id"];
            var ws_acct_balance = document.forms["CreateCustomerForm"]["ws_acct_balance"];
            var ws_amt = document.forms["CreateCustomerForm"]["ws_amt"];
       if (ws_amt.value == "")
			{
				window.alert("Please enter correct amount");
				ws_amt.focus();
				return false;
			}
            if (ws_amt.value < 0)
			{
				window.alert("Please enter valid amount");
				ws_amt.focus();
				return false;
			}

			return true;
		}
      </script>
</body>


</html>
