<!doctype html>
<html>
<title>Transfer Money</title>
<head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='createcustomerstyle.css') }}">
</head>
<body>
  <div class="navbar">
                  <a href="/details-search-account">Home</a>
                  <div class="dropdown">
                      <button class="dropbtn">Account Operations
                      <i class="fa fa-caret-down"></i>
                      </button>
                      <div class="dropdown-content">
                          <a href="/details-search-account">Get Account Details</a>
                          <a href="/withdraw-search-account">Withdraw Amount</a>
                          <a href="/deposit-search-account">Deposit Amount</a>
                          <a href="/transfer-search-account">Transfer Amount</a>
                      </div>
                  </div>
                  <a href="/statement-search-account">Statement</a>
                  <a href="/logout">Logout</a>

              </div>


<div id="main-part">
        {% if msg == 'success' %}
        <h3 style="text-align: center; padding-top: 20px; color: rgba(255, 0, 0, 0.589)">Amount Transfer Success</h3>
        {% endif %}

        {% if msg == 'notexist' %}
        <h3 style="text-align: center; padding-top: 20px; color: rgba(255, 0, 0, 0.589)"> Target Account Not Exist</h3>
        {% endif %}

<h1 style="text-align: center; padding-top: 20px">Transfer Amount</h1>
<div id="frm">
    <div id="frm_in">
  <form action="/transfer-account" onsubmit="return validate()" method="POST" name="CreateCustomerForm">
    <label for="ws_src_id">Source Account id:</label>
    <input type="number" id="ws_src_id_check" name="ws_src_id_check" disabled value= {% if ws_acct_id != '' %}
                                                                                    {{ws_acct_id}}
                                                                                    {% endif %}>

    <input type="hidden" id="ws_src_id" name="ws_src_id" value= {% if ws_acct_id != '' %}
                                                                                    {{ws_acct_id}}
                                                                                    {% endif %}>
    <label for="ws_tgt_id">Target Account id:</label>
    <input type="number" id="ws_tgt_id" name="ws_tgt_id">

    <label for="ws_acct_balance">Balance:</span></label>
    <input type="hidden" name="ws_acct_balance" id="ws_acct_balance" disabled value= {% if ws_acct_balance != '' %}
                                                                                {{ws_acct_balance}}
                                                                                {% endif %}>
    <label for="ws_amt">Transfer Amount:</label>
    <input type="number" name="ws_amt" id="ws_amt">

  <div>
    <input type="submit" value="Submit"><span>
    <input style="float: right" type="reset" value="Reset">
</div>
</form>
</div>
</div>
</div>
<!-- Bootstrap jQuery, Popper.js, and our own JavaScript plugins-->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script>
		function validate()
		{
			var ws_tgt_id = document.forms["CreateCustomerForm"]["ws_tgt_id"];
            var ws_acct_balance = document.forms["CreateCustomerForm"]["ws_acct_balance"];
            var ws_amt = document.forms["CreateCustomerForm"]["ws_amt"];
            if(ws_tgt_id.value.length < 9) 
				{
					window.alert("The Target Account ID should have a minimum of 9 digits"); 
					ws_tgt_id.focus();
					return false;
				}	
       if (ws_amt.value == "")
			{
				window.alert("Please enter correct amount");
				ws_amt.focus();
				return false;
			}
            if (ws_amt.value > ws_acct_balance.value)
			{
				window.alert("Please enter amount less than your balance");
				ws_amt.focus();
				return false;
			}
            if (ws_amt.value < 0)
			{
				window.alert("Please enter valid amount");
				ws_amt.focus();
				return false;
			}
			return true;
		}
      </script>
</body>


</html>
